.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.secondary-bg {
  background-color: #FFF8F3;
}

.orrange-color {
  color: #FD6E0A;
}

.extra-bold {
  font-weight: bolder;
}

.bold {
  font-weight: bold;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  height: 64px;
  width: 150px;
  background-color: #FD6E0A;
  color: white;
  font-size: 20;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* header */
header {
  background-image: url(../portfolio-resources/images/developer.png), url(../portfolio-resources/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 230px;
}

nav h2 {
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 51px;
}

nav li>a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 230px;
}

.banner-content {
  width: 585px;
  height: 356px;
}

/* Main */
/* about */
.about {
  width: 1000px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  text-align: center;
  padding: 130px;
}

.about-me {
  font-size: 35px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
}

.item-title {
  color: #757575;
  font-size: 20px;
}

.item-description {
  color: 474747;
  font-size: 20px;
  font-weight: bold;
}

/* What I do */
#para-what-do {
  font-size: 18px;
}

.what-i-do {
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

/* Skills */
.skills {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 1100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

}

.skill {
  margin: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
  border-radius: 5px;
}

/* Resume */
.resume-container {
  display: flex;
  gap: 100px;
  width: 1300px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.resume-title {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}

.information {
  font-size: 16px;
  color: #757575;
  margin-top: 0px;
}

.exp-sub-title {
  font-weight: 700;
  font-size: 20px;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 10px;
}

.exp-title {
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

.resume-column-title {
  font-weight: bold;
  font-size: 30px;
  color: #474747;
}



#cv {
  display: block;
  margin: 100px auto 0 auto;
}

footer {
  display: flex;
  gap: 125px;
  margin-top: 100px;
}

.footer-column-1 {
  width: 50%;
  margin-left: 230px;
}

.footer-column-2 {
  width: 50%;
  margin-right: 230px;
}

.img {
  display: flex;
  gap: 20px;
}

form>input,
.Message {
  display: block;
  height: 64px;
  width: 461px;
  margin: 12px;
  padding: 18px 0 18px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.footer-column-heading {
  font-size: 35px;
  color: #181818;
}

.footer-para {
  font-size: 16px;
  color: #474747;
}